# Ignore environment files
.env

# Node modules (for local development)
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor-specific
.DS_Store
.vscode/
